*{
    margin: 0;
    padding: 0;
    
}

:root{
    --backgroundColor : #c5d1eb;
    --divColor : #aabfee;
    --textColor: #2d4a89;
}

a{
    text-decoration: none;
    color: var(--textColor);
}


body{
    background-color: var(--backgroundColor);
}

.sideBar{
    background-color: var(--divColor);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    position: fixed;
    padding: 1.2rem;
    transition: all 0.3s ease;
    align-items: center;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 15px;
    margin-bottom: 10px;
}

.profilePicture{
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.profileName{
    color: var(--textColor);
    font-size: 1.3rem;
}

.sideBarTextContianer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%; 
    padding: 10px 15px;
    margin-bottom: 10px;
    gap: 10px;
}

.sideBarText{
    color: var(--textColor);
    font-size: 1.1rem;
}

.sideBarImage{
    width: 35px;
    border-radius: 30%;
}